<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container{
            max-width: 1400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Delve form</h1>
                <p>Kindly answer the below queries for us to provide you a timeline.</p>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>